<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Entertrained - Legal</title>
    <link href="/index.css" rel="stylesheet" />
    <link href="/icons/icons.css" rel="stylesheet" />
  </head>
  <body class="dark">
    <header>
      <div class="box">
        <h1><i class="icon-logo"></i>Entertrained<span>:Legal</span></h1>
        <div class="extra">
          <div>
            <a class="back" href="https://entertrained.app/"
              ><i class="icon-back"></i>BACK TO APP</a
            >
            <button id="mode" tile="Toggle dark mode"></button>
          </div>
        </div>
      </div>
      <nav>
        <ul class="desktop">
          <li><a href="/">All</a></li>
          <li><a href="/tos">Terms of Service</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/cookies">Cookies Policy</a></li>
        </ul>
        <ul class="mobile">
          <li><a href="/">All</a></li>
          <li><a href="/tos">Terms</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/cookies">Cookies</a></li>
        </ul>
      </nav>
    </header>
    <main>{{CONTENT}}</main>
    <footer>
      <div>
        <p class="top"><a href="#">Back to top</a></p>
      </div>
    </footer>
    <script src="/index.js"></script>
  </body>
</html>
